/*
Source - https://stackoverflow.com/a
Posted by rozsazoltan
Retrieved 2025-11-26, License - CC BY-SA 4.0
*/

@layer theme, base, antd, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
